.about-me-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #f4e04e;
  position: relative;
}

.about-me-top {
  display: flex;
  position: relative;
  margin: 0 5%;
  width: 90%;
  margin-top: 5rem;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
}

.element-text-about-me {
  position: absolute;
  left: -1rem;
  top: -2rem;
  font-family: boardmarker;
  color: #555555;
}

.img-aboutme-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ball-aboutme {
  height: 15rem;
  margin-top: 4rem;
  position: relative;
  width: 15rem;
  background-color: #30877a;
  border-radius: 50%;
}

.ball-aboutme-shadow {
  height: 15rem;
  position: absolute;
  bottom: 8px;
  right: 10px;
  width: 15rem;
  background-color: #5cb3a5;
  border-radius: 50%;
}

.hero-img {
  position: absolute;
  background-image: url("../assets/imgs/testcropp.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 8px;
  right: 10px;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

.about-me-text-container {
  color: #fbf7f5;
  width: 70%;
  padding-left: 3rem;
  padding-top: 3rem;
  font-size: 1.2rem;
}

.cloud-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: -1rem;
}

.beer-logo {
  position: absolute;
  transform: rotate(-15deg);
  left: 10vw;
  width: 8vw;
  height: 8vw;
}
.developer-logo {
  position: absolute;
  transform: rotate(15deg);
  width: 10vw;
  height: 10vw;
  top: -3vw;
  left: 30vw;
  z-index: 11;
}
.beer-logo-aboutme-container {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #5cb3a5;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  transform: rotate(-15deg);
  border-bottom: 5px solid #30877a;
  margin: 1rem;
  margin-right: 2rem;
}

.developer-logo-aboutme-container {
  background-color: #5cb3a5;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  transform: rotate(15deg);
  border-right: 5px solid #30877a;
  margin: 1rem;
  margin-left: 2rem;
}
.developer-logo-aboutme {
  width: 4rem;
  height: 4rem;
  z-index: 11;
}
.beer-logo-aboutme {
  width: 3.5rem;
  height: 3.5rem;
}

.cloud {
  height: 10vw;
  width: 65vw;
  background: #5cb3a5;
  border-radius: 40vw;
  position: relative;
  margin-top: 10vw;
}

.cloud-circle {
  position: absolute;
  top: -2vw;
  box-sizing: border-box;
  height: 13vw;
  width: 13vw;
  left: -1vw;
  border-radius: 50%;
  background: #5cb3a5;
}
.cloud-circle2 {
  position: absolute;
  top: -8vw;
  box-sizing: border-box;
  height: 22vw;
  width: 22vw;
  left: 36vw;
  border-radius: 50%;
  background: #5cb3a5;

  z-index: 10;
}
.cloud:before {
  content: "";
  position: absolute;
  top: -5vw;
  box-sizing: border-box;
  height: 20vw;
  width: 20vw;
  left: 7vw;
  border-radius: 50%;
  background: #5cb3a5;
  transform: rotate(40deg);
}
.cloud:after {
  content: "";
  position: absolute;
  height: 23vw;
  width: 23vw;
  top: -10vw;
  left: 21vw;
  border-radius: 50%;
  box-sizing: border-box;
  background: #5cb3a5;
  transform: rotate(55deg);
}

@media (max-width: 970px) {
  .ball-aboutme,
  .ball-aboutme-shadow {
    width: 10rem;
    height: 10rem;
  }
  .ball-aboutme-shadow {
    right: 7px;
    bottom: 5px;
  }
  .hero-img {
    width: 10rem;
    height: 10rem;
  }

  .cloud-container {
    bottom: 13%;
    width: 80%;
    left: 20%;
  }

  .about-me-text-container {
    width: 100%;
  }
}

@media (max-width: 699px) {
  .about-me-top {
    flex-direction: column;
  }
  .about-me-text-container {
    padding: 2rem;
    font-size: 1rem;
  }
  .beer-logo-aboutme-container {
    display: flex;
  }
  .developer-logo-aboutme-container {
    display: flex;
  }
  .cloud-container {
    display: none;
  }
}

@media (max-width: 500px) {
  .beer-logo-aboutme-container {
    display: none;
  }
  .developer-logo-aboutme-container {
    display: none;
  }
}

@media (max-width: 400px) {
  .img-aboutme-container {
    margin-top: -2rem;
  }
  .about-me-top {
    margin-top: 0.5rem;
  }
  .ball-aboutme,
  .ball-aboutme-shadow {
    width: 6rem;
    height: 6rem;
  }
  .ball-aboutme-shadow {
    right: 7px;
    bottom: 5px;
    width: 6rem;
    height: 6rem;
  }
  .hero-img {
    width: 6rem;
    height: 6rem;
  }
}
