.project-card {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  width: 20rem;
  background-color: #f4e04e;
  border-radius: 1rem;
  color: #333333;
}

.project-logo {
  width: 1.2rem;
  height: 1.2rem;
}

.project-link {
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  transition: all 0.15s ease-in-out;
}
.project-link:hover {
  fill: #555555;
  transform: scale(1.2);
}

.preview-wrapper {
  width: 100%;
  height: max-content;
  margin: 1rem 0;
}

.project-preview {
  width: 100%;
  border-radius: 0.5rem;
}
